<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul>
            <li> view addresses</li>
            <li>home</li>
            <li>create new address</li>
        </ul>
    </div>
    <div class="body"><h1> MY ADDRESS BOOK</h1>

    </div>
    <div class="addresses" id = "addresses">
        <button>EDIT DETAILS</button>
        <button>DELETE DETAILS</button>
    </div>
    <div class="footer">        <span>My address book &copy; 2019</span>
    </div>
</body>
</html>